.holder-solutions,  .holder-articles{
	
	margin: 0;
	clear:both;
}

.content-area article {
	
	
	margin:0;

	ul {
		margin-bottom:20px;

	}
	&.office {
		a {
			text-decoration: none;
			i {
				position: relative;
				top: 3px;
				font-size: 15px;
				margin-right: 10px;
			}
		}
	}
	&.deal {
		margin-bottom:80px;
		img{
			left:0;
			margin-left:0;
			max-width: 210px;
		}
		h1{

		}
		blockquote {
			text-align:left;
			margin:0;
		}
	}
	&.full {

		margin-bottom:20px;
		font-size: 13px;
		line-height: 25px;
		
		ul ul {
			margin-bottom:0px;
		}

		p {
			font-size: 13px;
			line-height: 25px;
		}
	}
	
	color:$gray-dark;	

	img {
		position: relative;
		left: 50%;
		margin-left: -135px;
		margin-bottom:28px;
	}

	date {
		font-family:"BrandonMed";
		font-size: 14px;
		color:$gray-lighter;
		margin-bottom:25px;
		text-transform:uppercase;
		display:block;
		letter-spacing: $letter-spacing;
		color:$gray;
	}

	h1 {
		letter-spacing: $letter-spacing;
		font-size:15px;
		text-align: left;
		text-transform: uppercase;
		margin-bottom:15px;
	}

	blockquote {
		text-align:center;
		font-size:13px;
		margin-bottom:0px;
		line-height:25px;
		min-height:120px;
	}

	.button {
		font-size:12px;
		display:block;
		text-align: center;
		font-family:"BrandonMed";
		text-transform:uppercase;
		background:$white-alpha;
		border: 1px solid $gray-lighter;
		padding:10px 50px;
		color: $gray;
		margin:0 auto;
		margin-bottom:43px;
		letter-spacing: $letter-spacing;
		max-width:200px;
		text-decoration:none;
		@include transition(all .3s .3s, color .3s, background-color .3s);

		&:hover {
			color: white;
			background-color: $gray-lighter;
			@include transition(all .3s .3s, color .3s, background-color .3s);
		}
	}

	&.management-cta {
		text-align:center;
		h1{
			text-align:center;
			font-size: 13px;
			margin-bottom:5px;
		}
		em {
			color:$gray-light;
			font-size: 12px;
			display:block;
			min-height: 40px;
		}
		a {
			margin-top:30px
		}
		.thumb{
			margin:0 auto;
			width:242px;
			height:273px;
			margin-bottom:30px;
			background:$gray-lighter;
			overflow:hidden;

			img{
				left:0;
				margin-left:0;
			}
		}


	}

	&.solution {
		h1 {
			text-align: center;
			text-transform: uppercase;
			height: 40px;
			font-family: "BrandonMed";
			font-size: 17px;
			letter-spacing: 3px;
		}
		blockquote {
			height: 90px;
			margin: auto 35px;
			
		}
	}

	&.article {

		h1, date {
			text-align:center;
			margin-left:10px;
			margin-right:10px;
		}

	}
	@media (min-width:900px) {

	
	&.article {

		blockquote {
			text-align:left;
			margin-left:0;
			height:150px;
		}
		
		h1{
			font-family:"MerriweatherReg";
			font-size:18px;
			text-transform: none;
			margin-bottom:15px;
			letter-spacing: 0px;
			line-height: 25px;
			height:70px;
			margin:0;
			text-align:left;
		}
		date {
			margin:0;
			text-align:left;
			margin-bottom:15px;

		}

		.thumb {
			min-height: 190px;
			max-width: 270px;
			position:relative;
			margin-bottom:17px;
			

			img {
				position: inherit;
				left: 0;
				margin-bottom:0;
				margin-left: 0;
				position:absolute;
			    top:0;
			    bottom:0;
			    margin:auto;
			}
		}
		.button {
			margin-left:0;

		}
	}
	}

	.basic.button {
		margin-left:0;
		max-width: 300px;
	}

ul ul {
	list-stle: none;
}
ul ul li:before{ content:"-"; position:relative; left:-5px; list-stle: none;}
ul ul li{ text-indent:-5px; list-style: none;}

	&.simple {
		h3 {
			text-transform:uppercase;
			margin-bottom:20px;
			font-family:"BrandonMed";
			letter-spacing: 2px;
			font-size: 18px;
			margin-top: 20px;
		}
		.button, .button.basic {
			
			margin-top:20px;
		}
	}
}

body #content {
	.news {
		hr {
			margin-bottom:40px;
		}
		&.site-main {
			margin-top:20px;
		}
		article {
		date {
			margin-bottom:0px;
			font-family: "BrandonMed";
			font-size:16px;
		}
			h1 {
				text-transform: none;
				font-weight:400;
				font-size:13px;
				letter-spacing:.25px;

				
				font-family:"MerriweatherReg";
				a, a:visited {
					font-weight:400;
					text-decoration:none;
					font-size:14px;
				}
			}
		}
	}
}

