.holder-solutions,  .holder-articles{
	
	
	clear:both;
}

article {
	
	&.deal {
		margin-bottom:80px;
		img{
			left:0;
			margin-left:0;
		}
		h1{

		}
		blockquote {
			text-align:left;
			margin:0;
		}
	}
	&.full {

		margin-bottom:20px;
		p {
			font-size: 13px;
			line-height: 25px;
		}
	}
	
	color:$gray-dark;	

	img {
		position: relative;
		left: 50%;
		margin-left: -135px;
		margin-bottom:28px;
	}

	date {
		font-family:"BrandonMed";
		font-size: 14px;
		color:$gray-lighter;
		margin-bottom:25px;
		text-transform:uppercase;
		display:block;
		letter-spacing: $letter-spacing;
	}

	h1 {
		letter-spacing: $letter-spacing;
		font-size:15px;
		text-align: left;
		text-transform: uppercase;
		margin-bottom:15px;
	}

	blockquote {
		text-align:center;
		font-size:13px;
		margin-bottom:43px;
		line-height:25px;
	}

	.button {
		font-size:12px;
		display:block;
		text-align: center;
		font-family:"BrandonMed";
		text-transform:uppercase;
		background:$white-alpha;
		border: 1px solid $gray-lighter;
		padding:10px 50px;
		color: $gray-light;
		margin:0 auto;
		margin-bottom:43px;
		letter-spacing: $letter-spacing;
		max-width:200px;
		text-decoration:none;
		@include transition(all .3s .3s, color .3s, background-color .3s);

		&:hover {
			color: white;
			background-color: $gray-lighter;
			@include transition(all .3s .3s, color .3s, background-color .3s);
		}
	}


	&.solution {
		h1 {
			text-align: center;
			text-transform: uppercase;
		}
	}

	&.article {

		blockquote {
			text-align:left;
			margin-left:0;
		}
		
		h1{
			font-family:"MerriweatherReg";
			font-size:18px;
			text-transform: none;
			margin-bottom:15px;
			letter-spacing: 0px;
			line-height: 25px;
		}

		img {
			position: inherit;
			left: 0;
			margin-left: 0;
			margin-bottom:17px;
		}
		.button {
			margin-left:0;

		}
	}
	.basic.button {
		margin-left:0;
		max-width: 300px;
	}
}