
@media print {
	
  a[href]:after {
    content: none;
  }
}

body {
	background:url('images/background-white.png') top left repeat;
}

.site-branding {
	text-indent:-9999px;
	width: 190px;
	float: left;
	position:relative;
	top:6px;

	.site-title {
		a {

			background:url('images/orix-logo.png') top left no-repeat;
			height: 50px;
			width: 190px;
			float: left;
		}
	}
}

html body a {
	color:$gray-darker;
	font-weight:bold;
	text-decoration: underline;

}
html body a:hover {
	color:$gray-dark;
}

.fa {
	font-size:20px;
}

.site-content {
	max-width: $site-max-width;
	margin: 0 auto;
}


.bridge-outline{
	display:none;
}
@media (min-width:900px) {

	.bridge-outline {
		width: 1466px;
		height:270px;
		background-size: contain;
		background-repeat:no-repeat;
		background-position:top center;
		left: -140px;
		position: relative;
		margin-bottom:40px;
		display:block;
	}
}

body #content hr {
	border-bottom: 1px solid white !important;
	margin-bottom: 80px;
	clear: both;
}

.content-area .bullet {
	h1 {
		text-align: center;
		height: 40px;
		font-weight: normal;
		font-family: "BrandonMed";
		font-size: 15px;
		letter-spacing: 3px;
	}
	blockquote {
		height: 145px;
	}
	.diamond {
		background:url('images/diamond-red.png') top center no-repeat;
		padding: 14px;
		
		display:block;
		text-align:center;
		margin-bottom:25px;
	}
	a, a:hover {
		text-decoration:none;
	}
}

.content-area {
	ul {
		margin:0;
		padding:0;
		margin-left:15px;

		li {
			margin:0;
			padding:0;
			font-size: 13px;
			line-height: 25px;
		}
	}
}

section {
	
	&.centered {
		text-align:center;
		margin-bottom:50px;


		h1 {
			font-size: 25px;
			text-transform: uppercase;
			font-family: "BrandonLight";
			margin-bottom: 30px;
			letter-spacing: 6px;
		}
		p {
			font-size: 17px;
			font-family: "Merriweather";
			margin-bottom: 5px;
		}
	}

	&.management {

		text-align:center;

		h1 {	
			font-size: 14px;
			margin-bottom:5px;
			text-transform: uppercase;
		}
		em {
			font-size:12px;
			color:$gray-light;
		}
		a {
			text-decoration:none;
			color:$gray-light;
			display:block;
		}
		.thumb{
			margin:0 auto;
			width:242px;
			height:273px;
			margin-bottom:30px;
			background:$gray-lighter;

			img{
				left:0;
				margin-left:0;
			}
		}
	}

	&.boxed {
		max-width: $site-max-width;
		margin: 0 auto;
		border: 1px solid $gray-alpha;
		padding: 30px;
		margin-bottom: 40px;
		background: $white-alpha;
		text-align:center;
		p {
			margin:0;
		}
	}
}

.page-secondary {
	section {
		&.centered {
			padding: 0 15px;
			h1 {
				text-align:left;
			}
		}
	}

}


