@include font-face(
	"BrandonLight", 
	font-files("orix/fonts/brandon/brandon-light.woff", 
	"orix/fonts/brandon/brandon-light.ttf", 
	"orix/fonts/brandon/brandon-light.svg"), 
	"orix/fonts/brandon/brandon-light.eot"
);

@include font-face(
	"BrandonReg", 
	font-files("orix/fonts/brandon/brandon-reg.woff", 
	"orix/fonts/brandon/brandon-reg.ttf", 
	"orix/fonts/brandon/brandon-reg.svg"), 
	"orix/fonts/brandon/brandon-reg.eot"
);

@include font-face(
	"BrandonMed", 
	font-files("orix/fonts/brandon/brandon-med.woff", 
	"orix/fonts/brandon/brandon-med.ttf", 
	"orix/fonts/brandon/brandon-med.svg"), 
	"orix/fonts/brandon/brandon-med.eot"
);

@include font-face(
	"MerriweatherReg", 
	font-files("orix/fonts/merriweather/merriweather-reg.woff", 
	"orix/fonts/merriweather/merriweather-reg.ttf", 
	"orix/fonts/merriweather/merriweather-reg.svg"), 
	"orix/fonts/merriweather/merriweather-reg.eot"
);

@include font-face(
	"MerriweatherItalic", 
	font-files("orix/fonts/merriweather/merriweather-italic.woff", 
	"orix/fonts/merriweather/merriweather-italic.ttf", 
	"orix/fonts/merriweather/merriweather-italic.svg"), 
	"orix/fonts/merriweather/merriweather-italic.eot"
);


@include font-face(
	"ProximaLight", 
	font-files("orix/fonts/proximanova/proximanova-light.woff", 
	"orix/fonts/proximanova/proximanova-light.ttf", 
	"orix/fonts/proximanova/proximanova-light.svg"), 
	"orix/fonts/proximanova/proximanova-light.eot"
);

@include font-face(
	"icomoon", 
	font-files("orix/fonts/icomoon/icomoon.woff", 
	"orix/fonts/icomoon/icomoon.ttf", 
	"orix/fonts/icomoon/icomoon.svg"), 
	"orix/fonts/icomoon/icomoon.eot"
);

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color:#ee2e24;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dollar:before {
	content: "\e629";
}
.icon-lock:before {
	content: "\e628";
}
.icon-graph:before {
	content: "\e627";
}
.icon-database:before {
	content: "\e610";
}
.icon-tools:before {
	content: "\e611";
}
.icon-link:before {
	content: "\e612";
}
.icon-pencil:before {
	content: "\e613";
}
.icon-house:before {
	content: "\e614";
}
.icon-wind:before {
	content: "\e60d";
}
.icon-house2:before {
	content: "\e604";
}
.icon-house3:before {
	content: "\e606";
}
.icon-office:before {
	content: "\e607";
}
.icon-pencil2:before {
	content: "\e60e";
}
.icon-library:before {
	content: "\e608";
}
.icon-users:before {
	content: "\e60f";
}
.icon-aid:before {
	content: "\e603";
}
.icon-fire:before {
	content: "\e60a";
}
.icon-airplane:before {
	content: "\e609";
}
.icon-truck:before {
	content: "\e60b";
}
.icon-users2:before {
	content: "\e601";
}
.icon-graduation:before {
	content: "\e600";
}
.icon-airplane2:before {
	content: "\e605";
}
.icon-cone:before {
	content: "\e602";
}
.icon-pie:before {
	content: "\e60c";
}
.icon-profiledefault:before {
	content: "\e615";
}

body {
	font-family:"MerriweatherReg";
}

