/* =Menu
----------------------------------------------- */
header {
	clear: both;
	display: block;
	font-family:"BrandonLight";
	text-transform:uppercase;
	width:100%;
	margin: 0 auto;
	position: fixed;
	font-size:14px;
	padding-left: 5%;
	padding-right: 5%;
	z-index: 500;
	padding-top:10px;
	padding-bottom:10px;
	background:none;
	@include transition(background-color .3s .3s, color .3s);

}

.sticky-header {
	background:rgba(0,0,0, .85);
	@include single-box-shadow( rgba(0,0,0, .5), 0, 0, 5px, 5px );
	@include transition(all .3s .3s, color .3s);
	
}


.header-inner {
	background:rgba(255,255,255, .85);
	
	&.sticky {
		@include single-box-shadow( rgba(0,0,0, .2), 0, 0, 5px, 5px );
	}
	@include transition(all .3s .3s, color .3s);

	.main-navigation ul li a{
		color:black;
	}

	.site-branding {
		.site-title a{
			background:url('images/orix-logo-black.png') top left no-repeat;
		}
	}
}

.main-navigation {
	
	max-width: $site-max-width;
	margin: 0 auto;
	width: 100%;
	margin-top: 10px;
	letter-spacing: $letter-spacing;

	// first level
	ul {
		float: right;
		list-style: none;
		margin: 0;
		padding-left: 0;
		margin-top: 15px;

		li {
			float: left;
			position: relative;
			margin-left:50px;

			a {
				display: block;
				text-decoration: none;
				color:$gray-medium;

				&:hover {
					@include transition(all .3s .3s, color .3s, background-color .5s);
				}
			}

			// link hover
			&:hover {
				> a { }
				> ul { display: block; }
			}

		}

		.current_page_item, .current-menu-item {
			a {}
		}

		// second level
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			display: none;
			float: left;
			position: absolute;
				top: $vspacing;
				left: 0;
			z-index: 99999;

			&:hover {
				> a {};
			}

			li {
				a {
					width: 200px;
					&:hover {};
				}
			}

			// third level
			ul {
				left: 100%;
				top: 0;
			}

		}
	}

}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  .main-navigation ul {
    display: none;
  }
}