// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font: sans-serif;
$header-font: $base-font; // you can refer to other variables

$gray-darker:#292b2d;
$gray-dark: #4d4b4b;
$gray:#737679;
$black:#000000;
$gray-light: #999;
$gray-lighter: #ccc;
$gray-dark-light:#cdcdcd;
$gray-alpha: rgba(102, 102, 102, .4);
$black-alpha: rgba(0, 0, 0, .8);
$gray-medium: #d4d4d4;
$white-alpha: rgba(255, 255, 255, .4);

$letter-spacing: 2px;


// base color scheme
$body-background: #fff;
$text-color: #404040;
$link-color: royalblue;
$link-visited: $gray-light;

$site-max-width: 1200px;

// Supported Values for $layout:
//  null | content-sidebar | sidebar-content
$layout: null !default;
$vspacing: 1.5em;